@charset "UTF-8";
/* line 1, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-top {
  padding-top: 30px;
  color: #ffb278;
  /*文字色*/
}

/* line 7, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-tab-area {
  text-align: center;
  padding: 0;
}

/* line 13, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-tab {
  display: inline-block;
  background-color: #ffb278;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}

/* line 20, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-area {
  border-radius: 30%;
  padding: 2%;
  height: 100px;
}

/* line 26, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article_image1 {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* line 32, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article_image2 {
  display: inline-block;
  width: 30%;
  height: 30%;
}

/* line 38, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-title-area {
  border-radius: 1rem;
  box-shadow: 0 2px 2px gray;
  text-align: left;
  background-color: white;
  color: black;
  padding: 1.5%;
  margin: 1% 0.7% 1% 0.7%;
  width: 48%;
  height: 200px;
  vertical-align: top;
  display: inline-block;
}
/* line 50, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-title-area:hover {
  box-shadow: 0 10px 15px -5px gray,0 0 5px gray;
  /*浮いた時の影*/
  transform: translateY(-3px);
  /*浮く高さ*/
  transition: 0.3s;
  /*浮く速さ（秒）*/
  background: rgba(238, 238, 238, 0.4);
  /*浮いた時の背景色（なくてもよい）*/
}

/* line 62, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.new_article {
  color: black;
  padding: 10px 0;
  margin-left: 30%;
  margin-right: 30%;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  border-bottom: double 5px #ea7925;
}

/* line 73, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-title {
  padding-bottom: 5px;
  border-bottom: double 5px #ea7925;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

/* line 81, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.genre0 {
  border-radius: 1em;
  text-align: center;
  color: white;
  margin: 0px 3px 5px 3px;
  font-size: 1.2rem;
  padding: 2px;
  width: 80px;
  height: 22px;
  font-weight: bold;
  display: inline-block;
}

/* line 94, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.genre1 {
  border-radius: 1em;
  text-align: center;
  color: white;
  margin-top: 5px;
  font-size: 1.2rem;
  padding: 1px 0;
  width: 70px;
  height: 15px;
}

/* line 105, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.maker {
  background-color: #1B435D;
}

/* line 109, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.retail {
  background-color: #F7D76B;
}

/* line 113, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.finance {
  background-color: #F99F48;
}

/* line 117, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.infra {
  background-color: #454545;
}

/* line 121, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.logi {
  background-color: #AE9890;
}

/* line 125, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.it {
  background-color: #665990;
}

/* line 129, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.education {
  background-color: #F7C9CE;
}

/* line 133, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.sports {
  background-color: #EF866B;
}

/* line 137, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.culture {
  background-color: #8CD790;
}

/* line 141, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.business {
  background-color: #79A1D4;
}

/* line 145, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.food {
  background-color: #FF5722;
}

/* line 149, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-title-img {
  margin-top: 5px;
  width: 100%;
  height: 65%;
}

/* line 172, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.show-article-title-area {
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: double 5px #ea7925;
}

/* line 181, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article-topic {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0.5em;
  /*文字周りの余白*/
  color: #494949;
  /*文字色*/
  background: #f9e7cc;
  /*背景色*/
  border-left: solid 5px #ffaf58;
  /*左線（実線 太さ 色）*/
  font-size: 2rem;
  font-weight: bold;
}

/* line 192, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.show-article {
  text-align: left;
  padding-top: 10px;
}

/* line 197, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article_data1 {
  margin-left: 5%;
  width: 90%;
  height: 30px;
}

/* line 202, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article_data2 {
  margin-left: 5%;
  width: 90%;
  height: 200px;
}

/* line 207, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.article_data3 {
  margin-left: 5%;
  width: 90%;
  height: 400px;
}

/* line 213, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.confirm {
  opacity: 0.5;
}

/* line 217, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.show-button-area {
  text-align: center;
}

/* line 222, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.show-button-text {
  font-size: 2rem;
}

/* line 226, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/article.scss */
.back-to-index {
  display: inline-block;
}
@charset "UTF-8";
/* line 1, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
html {
  clear: both;
  font-size: 62.5%;
}

/* line 6, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
body {
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

/* line 12, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
header {
  width: 100%;
  display: block;
  position: fixed;
}

/* line 19, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
a {
  text-decoration: none;
}

/* line 24, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
ul li {
  list-style: none;
}

/* line 28, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
.container0 {
  background-color: #F9CDAD;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 80px;
}

/* line 34, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
.container1 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 2% 5% 2%;
}

/* line 42, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
.container2 {
  color: black;
  margin-bottom: 5%;
  background-color: white;
}

/* line 49, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
.container3 {
  text-align: center;
  padding: 20px 5% 50px 5%;
  background-color: #FFC778;
}

/* line 55, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
.container4 {
  background-color: #F9CDAD;
  padding: 2%;
  margin-top: 0%;
  font-size: 1.5rem;
  text-align: left;
}

/* line 63, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/home.scss */
.top_title_sentence {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.5rem;
}
@charset "UTF-8";
/*スマホ向けレイアウト  */
@media all and (min-width: 700px) {
  /* line 5, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .top_title_sentence {
    font-size: 3rem;
  }

  /* line 8, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .show-article-title-area {
    font-size: 3rem;
  }

  /* line 13, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .article-title-area {
    height: 300px;
  }

  /* line 17, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .article-title {
    font-size: 2.5rem;
  }

  /* line 21, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .new_article {
    font-size: 3rem;
    height: 50px;
  }

  /* line 26, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  iframe {
    width: 300px;
    height: 150px;
  }
}
/* web */
@media all and (max-width: 385px) {
  /* line 40, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .article-title-area {
    width: 95%;
    margin-left: 2.5%;
    height: 280px;
  }

  /* line 45, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .article-title-img {
    height: 70%;
  }

  /* line 49, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .article-title {
    font-size: 2rem;
  }

  /* line 53, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .btn {
    width: 100%;
  }

  /* line 57, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .facebook {
    margin-bottom: 10px;
  }

  /* line 61, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .top-wrapper {
    text-align: left;
  }

  /* header-rightクラスのdisplayをnoneに指定してください */
  /* line 66, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .header-right {
    display: none;
  }

  /* menu-iconクラスのdisplayをblockに指定してください  */
  /* line 71, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .menu-icon {
    display: block;
  }

  /* line 75, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .top-wrapper h1 {
    font-size: 24px;
  }

  /* line 79, /Users/karitashuhei/newapp/shoodia/app/assets/stylesheets/responsive.scss */
  .top-wrapper p {
    font-size: 14px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 @import "bootstrap-sprockets";
@import "bootstrap";
*/

