<div class="container1">
　<div class="container2">
      <div style="font-size: 100px">Learn Sports<br>To Enjoy your Life</div>
        <br>
　　　　 <div style="font-size: 60px">
         アスリートのための<br>スポーツ情報Webメディア<br>"track"</div>
        <br><p style="font-size: 30px">スポーツに関するニュースや雑学
        <br>トップ選手の練習方法まで幅広い情報を掲載</p>
        
       <br><a href="/article/index" class="btn btn-success" style="width: 50%;">記事を読む</a>
      <br>
  </div>         
  <div class="container4">
        <h4>最新の記事</h4> 
          <% if @articles %>
          <% @articles.each do |article| %>
          <%= link_to("/article/#{article.id}") do %>
          <h4 class="article-title-area">
            <div class="article-title">
              <%= article.title %>
            </div>
            <img class="article-title-img" src="<%= "/article_images/#{article.titleimg}" %>">
          </h4>
          <div class="clear"></div>
          <% end %>
          <% end %>
          <% else %>
          最新の記事はありません
          <% end %>

  </div>
</div>

