<div class="container1">
　<div class="container2">
      
　　　　 <div class="top_title_sentence" style="width: 100%; font-size: 2.8rem; font-weight: bold;">
         アスリートのための<br>スポーツ情報Webメディア<br>"track"</div><br>
        <div class="top_title_sentence" style="width: 100%; font-size: 2rem;">スポーツに関するニュースや雑学
        <br>トップ選手の練習方法まで<br>幅広い記事を掲載</div>
        
       <br><a href="/article/index" class="btn btn-success" style="width: 100%; font-size: 3rem;">記事を読む</a>
      
  </div>         
  <div class="container4">
        <h4 class="new_article">最新の記事</h4>        
          <% @articles.last(6).reverse_each do |article| %>
          <%= link_to("/article/#{article.id}",:style=>"text-decoration: none; ") do %>
          <h4 class="article-title-area">
          <div class="article-title">
           <%= article.title %>
           <% case article.genre when "track" %>
            <div class="genre1 track">陸上</div>
            <% when "baseball" %>
            <div class="genre1 baseball">野球</div>
            <% when "soccer" %>
            <div class="genre1 soccer">サッカー</div>
            <% when "tennis" %>
            <div class="genre1 tennis">テニス</div>
            <% when "tabletennis" %>
            <div class="genre1 tabletennis">卓球</div>
            <% when "amefoot" %>
            <div class="genre1 amefoot">アメフト</div>
            <% end %>
          </div>          
          <img class="article-title-img" src="<%= "/article_images/#{article.titleimg}" %>">
          </h4>
          <% end %>
          <% end %>
          <div class="clear"></div>
  </div>
</div>

