<div class="container1">
　<div class="container2">
      
　　　　 <div class="top_title_sentence" style="font-weight: bold;">
         明日にでも成功をおさめたい人のための<br>ビジネスアイデアWebサイト
        <div class="top_title_sentence" >
        </div>
        
       <br><a href="/article/index" class="btn btn-success" style="width: 100%; font-size: 2rem;">記事を読む</a>
      
  </div>         
  <div class="container4">
        <h4 class="new_article">最新の記事</h4>        
          <% @articles.last(6).reverse_each do |article| %>
          <%= link_to("/article/#{article.id}",:style=>"text-decoration: none; ") do %>
          <h4 class="article-title-area">
          <div class="article-title">
           <%= raw(article.title.gsub(/\n/,'<br>')) %>
           <% case article.genre
            when "maker" %>
            <div class="genre1 maker">メーカー</div>
    <% when "retail" %>
    <div class="genre1 retail">小売</div>
    <% when "finance" %>
    <div class="genre1 finance">金融</div>
    <% when "infra" %>
    <div class="genre1 infra">インフラ</div>
    <% when "logi" %>
    <div class="genre1 logi">物流</div>
    <% when "it" %>
    <div class="genre1 it">IT</div>
    <% when "education" %>
    <div class="genre1 education">教育</div>
    <% when "sports" %>
    <div class="genre1 sports">スポーツ</div>
    <% when "culture" %>
    <div class="genre1 culture">文化</div>
    <% when "business" %>
    <div class="genre1 business">ビジネス</div>
    <% when "food" %>
    <div class="genre1 food">飲食</div>
<% end %>
          </div>
          <img class="article-title-img" src="<%= "/article_images/#{article.img1}" %>"> 
          </h4>
          <% end %>
          <% end %>
          <div class="clear"></div>
  </div>
</div>

