<div class="container1">
<div class="container4">
<h2 style="text-align: center; font-weight: bold;">現在、本サイト「shoodia」への<p>掲載記事を募集しております。<p>投稿していただける方は下記にて<p>詳細手続きをご確認ください。
</h2>

<div style="text-align: center; ">
<div class="outsource">
<a href="https://crowdworks.jp/public/jobs/3745628" class="btn-gradient-3d-simple">
クラウドワークス から
</a>
</div>
<div class="outsource">
<a href="https://www.lancers.jp/work/detail/2455266" class="btn-gradient-3d-simple">
Lancers から
</a>
</div>
</div>

</div>

</div>
