<div class="container1">
<div class="container4">
<h4 style="font-size: 2rem; text-align: center; font-weight: bold;">現在、本サイト「shoodia」への掲載記事を募集しております。<p>投稿していただける方は下記にて詳細手続きをご確認ください。<p>
<a href="#">※現在外部サイトリンクを発行中です。少々お待ちください。</a></h4>

</div>

</div>
