<div class="container1">
<div class="container4">
<h4 style="font-size: 2rem; text-align: center; font-weight: bold;">記事一覧</h4>
<ul class="article-tab-area">
  <% @genicons.each do |genicon| %> 
  <li class="genre0">
    <%= link_to("/article/genre/#{genicon.genre}",:style=>"text-decoration: none;") do %>
    <% case genicon.genre
            when "business" %>
            <div class="genre0 business">実業家</div>
            <% when "athlete" %>
            <div class="genre0 athlete">アスリート</div>
            <% when "art" %>
            <div class="genre0 art">芸術</div>
            <% when "politics" %>
            <div class="genre0 politics">政治</div>
            <% when "society" %>
            <div class="genre0 society">社会</div>
            <% when "philosophy" %>
            <div class="genre0 philosophy">哲学</div>
            <% when "education" %>
            <div class="genre0 education">教育</div>
            <% end %>
    <% end %>
    <% end %>
  </li>
  
</ul>
      
          <div>
          <% @genArticles.reverse_each do |genArticle| %>
          <%= link_to("/article/#{genArticle.id}",:style=>"text-decoration: none;") do %>
          <h4 class="article-title-area">
          <div class="article-title">
           <%= genArticle.title %>
           <% case genArticle.genre
            when "business" %>
            <div class="genre1 business">実業家</div>
            <% when "athlete" %>
            <div class="genre1 athlete">アスリート</div>
            <% when "art" %>
            <div class="genre1 art">芸術</div>
            <% when "politics" %>
            <div class="genre1 politics">政治</div>
            <% when "society" %>
            <div class="genre1 society">社会</div>
            <% when "philosophy" %>
            <div class="genre1 philosophy">哲学</div>
            <% when "education" %>
            <div class="genre1 education">教育</div>
            <% end %>
          </div>
          <div class="video">
          <iframe src="<%= genArticle.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          </div>
          <!-- <img class="article-title-img" src="< "/article_images/#{article.titleimg}" %>"> -->
          </h4>
          <% end %>
          <% end %>
          </div>
          <div class="clear"></div>
  </div>

<div class="clear"></div>

</div>