<div class="container1">
<!-- <ul class="article-tab-area"> 
	<li class="article-tab">短距離</li>
	<li class="article-tab">長距離</li>
	<li class="article-tab">跳躍</li>
	<li class="article-tab">投擲</li>
</ul>-->

　<div class="container4">
        <h4 style="font-size: 2rem; text-align: center; font-weight: bold;">記事一覧</h4>        
          <div>
          <% @articles.reverse_each do |article| %>
          <%= link_to("/article/#{article.id}",:style=>"text-decoration: none;") do %>
          <h4 class="article-title-area">
          <div class="article-title">
           <%= article.title %>
           <% case article.genre
            when "track" %>
            <div class="genre track">陸上</div>
            <% when "baseball" %>
            <div class="genre baseball">野球</div>
            <% when "soccer" %>
            <div class="genre soccer">サッカー</div>
            <% when "tennis" %>
            <div class="genre tennis">テニス</div>
            <% when "tabletennis" %>
            <div class="genre tabletennis">卓球</div>
            <% when "amefoot" %>
            <div class="genre amefoot">アメフト</div>
            <% end %>
          </div>
          <img class="article-title-img" src="<%= "/article_images/#{article.titleimg}" %>">
          </h4>
          <% end %>
          <% end %>
          </div>
          <div class="clear"></div>
  </div>

<div class="clear"></div>

</div>
</div>