.article-top {
  padding-top: 30px;
  color: #ffb278;
  /*文字色*/
}

.article-tab-area {
  padding: 0;
}

.article-tab {
  display: inline-block;
  background-color: #ffb278;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}

.article-area {
  border-radius: 30%;
  padding: 2%;
  height: 100px;
}

.article_image {
  display: inline-block;
  width: 50%;
  height: 50%;
}

.article-title-area {
  border-radius: 1rem;
  box-shadow: 0 2px 2px gray;
  text-align: left;
  background-color: white;
  color: black;
  padding: 1.5% ;
  margin: 1% 0.7% 1% 0.7% ;
  width: 48%;
  height: 200px;
  vertical-align: top;
  display: inline-block;
  &:hover {
    box-shadow: 0 10px 15px -5px gray,0 0 5px gray;
    /*浮いた時の影*/
    transform: translateY(-3px);
    /*浮く高さ*/
    transition: 0.3s;
    /*浮く速さ（秒）*/
    background: rgba(238, 238, 238, 0.4);
    /*浮いた時の背景色（なくてもよい）*/
  }
}

.new_article{
  color: black;
  padding: 10px 0;
  margin-left: 30%;
  margin-right: 30%;
  height: 40px;
  font-size: 2rem; 
  text-align: center;
  border-bottom: double 5px #ea7925;
}

.article-title {
  padding-bottom: 5px;
  border-bottom: double 5px #ea7925;
  font-weight: bold;
  font-size: 1.5rem;
}

.genre{
  border-radius: 1em;
  text-align: center;
  color: white;
  margin-top: 5px;
  font-size: 1.2rem;
  padding: 1px 0;
  width: 70px;
  height: 15px;
}

.track{
  background-color: #ff8e8e;
}

.baseball{
  background-color: #f2ad0c;  
}

.soccer{
  background-color: #70a6ff;
}

.tennis{
  background-color: #a4eb84;
}

.tabletennis{
  background-color: #a58eff;
}

.amefoot{
  background-color: #ffa08e;
}

.article-title-img {
  margin-top: 5px;
  width: 100%;
  height: 60%;
}

.show-article-title-area {
  padding-bottom: 5px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: double 5px #ea7925;
}

.article-topic {
  margin-top: 50px;
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #f9e7cc;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
  font-size: 2rem;
  font-weight: bold;
}

.show-article {
  text-align: left;
  padding-top: 50px;
}

.article_data1 {
  margin-left: 5%;
  width: 90%;
  height: 30px;
}
.article_data2 {
  margin-left: 5%;
  width: 90%;
  height: 200px;
}
.article_data3 {
  margin-left: 5%;
  width: 90%;
  height: 400px;
}

.confirm {
  opacity: 0.5;
}

.button-area {
  margin-top: 20px;
  text-align: center;
}

