.next_game_area{
    background-color: white;
    padding: 2%;
    box-shadow: 0 0 20px gray;
    border-radius: 10px;
}
.demo {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 20px;
  color:#4DC0B2;
}
.heading {
  margin: 10px 0
}
.demo7 .heading {
  position: relative;
  height: 50px;
  padding: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #4DC0B2;
  line-height: 50px;
}
.demo7 .heading .caption{
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 25px;
  padding-right: 40px;
  background: #4DC0B2;
  color: #fff;
}
.demo7 .heading .caption:before{
  display: block;
  content: ' ';
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 99.9%;
  top: 0;
  border: 0 solid transparent;
  border-width: 50px 37px 0 0;
  border-right-color:#4DC0B2;
}
.demo7 .heading .title{
  float: left;
  padding-left: 20px;
}
 
.graph_area{
}

#myChart_stress, #myChart_genre, #myChart_training_time, #myChart_game_time, #myChart_training_evaluation, #myChart_game_evaluation{
    background-color: white;
    box-shadow: 0 0 20px gray;
    border-radius: 10px;
}

.myChart_title_area{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 20px white;
    border-radius: 10px;
    color: white;
    background-color: #D68204;
}
.myChart_title{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

