html{
	clear: both;
	font-size: 62.5%;
}

body{
	font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
	
}


header{
	width: 100%;
	display: block;
	position: fixed;
}


a{
  text-decoration: none;
}

.container0{
	background-color:  #ffb278; 
	padding-top: 117px;
	text-align: center;
	padding-bottom: 30px;
}
.container1 {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 30px 2% 5% 2%;
}

.container2{
	color: black;
	margin-bottom: 10%;
	background-color: white;
	
}

.container3 {
	text-align: center;
	padding: 20px 5% 50px 5%;
	background-color: #FFC778;
}

.container4{
	background-color: white;
	padding: 0.5% ;
	margin-top: 0%;
	font-size: 2.3rem;
	text-align: left;
}

.top_title_sentence{
	margin-top: 10px;
	margin-bottom: 10px;
}
