*{
	clear: both;
}

body{
	font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

a{

  text-decoration: none;
}

.container0{
	text-align: center;
	background-color:  #ffb278; 

}
.container1 {
	display: inline-block;
	max-width: 1000px;
	text-align: center;
	padding: 5% 2% 5% 2%;
	
	
}
.container2{
	color: white;
	margin-bottom: 10%;
	
}

.container3 {
	text-align: center;
	padding: 20px 5% 50px 5%;
	background-color: #FFC778;
}

.container4{
	background-color: white;
	padding: 10px 2% 50px 2%;
	margin-top: 0%;
	font-size: 30px;

}

.top_title_sentence{
	margin-top: 10px;
	margin-bottom: 10px;
}
