/*スマホ向けレイアウト  */
@media all and (min-width: 650px) {
  
  .top_title_sentence{
    font-size: 5rem;
  }
  .show-article-title-area{
    font-size: 4rem;
  }


  .article-title-area{
    height: 300px;
  }

  .article-title{
    font-size: 2.5rem;
  }

  .new_article{
    font-size: 4rem;
    height: 80px;
  }

  
}

/* web */
@media all and (max-width: 300px) {

  .article-title-area {
    width: 95%;
    margin-left: 2.5%;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }

  /* header-rightクラスのdisplayをnoneに指定してください */
  .header-right{
    display:none;
  }
  
  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-icon{
    display:block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}