/*web向けレイアウト  */
@media all and (min-width: 700px) {
  
  .top_title_sentence{
    font-size: 3rem;
  }
  .show-article-title-area{
    font-size: 3rem;
  }


  .article-title-area{
    height: 300px;
  }

  .article-title{
    font-size: 2.5rem;
  }

  .new_article{
    font-size: 3rem;
    height: 50px;
  }

  iframe{
    width: 300px;
    height: 150px;

  }



  
}

/* スマホ */
@media all and (max-width: 365px) {

  .article-title-area {
    width: 95%;
    margin-left: 2.5%;
    height: 280px;
  }
  .article-title-img {
  height: 70%;
  }

  .article-title {
  font-size: 2rem;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }

  /* header-rightクラスのdisplayをnoneに指定してください */
  .header-right{
    display:none;
  }
  
  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-icon{
    display:block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}